<div [lyP]="1">
</div>
<div [lyP]="1">
  <button ly-button raised (click)="getParameters()">
    Parameters
  </button>
  <ly-slider [ngClass]="classes.slider" [min]="28" [max]="234" [value]="76" [color]="'primary'"></ly-slider>
</div>
<div [lyP]="1">
  <button ly-button raised (click)="getNewPicture()">
    New picture
  </button>
</div>
<section>
  <button *ngFor="let p of pNames" ly-button raised (click)="getParameter(p.name)">
    {{p.name}}
  </button>
</section>
<label>{{this.lastPicture?.image?.fileName || "utsikt.jpg"}}</label>
<img src="http://192.168.86.175:8100/{{this.lastPicture?.image?.fileName || 'utsikt.jpg'}}" alt="Utsikt">

